<div class="container-fluid invest-index-jumb-cont">
    <div class="jumbotron jumbotron-fluid invest-index-jumb">
        <div class="container">
            <h1 class="display-3">Convert smartly!</h1>
            <p class="lead">Convert Your Currency According to the Historical Stock Market Rates!</p>
        </div>
    </div>
</div>