@import "bootstrap";
$main-app-color: lightgreen;
$secondary-app-color: #343a40;
$bg-color: #F5F5F5;

.main-app-container {
    padding: 0px;
}
.invest-index-jumb-cont {
    padding: 0px;
}
.invest-index-jumb {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), asset-url('index-jumb-bg.jpeg');
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), asset-url('index-jumb-bg.jpeg');
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), asset-url('index-jumb-bg.jpeg');
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), asset-url('index-jumb-bg.jpeg');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.5))), url("the-image.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), asset-url('index-jumb-bg.jpeg');
    background-size: cover;
    height: 100vh;
    margin-bottom: 0px;
    .container {
        h1 {
            color: $main-app-color;
        }
        p {
            color: $main-app-color;
        }
    }
}
.navbar {
    .navbar-brand {
        color: $main-app-color;
    }
}
.new-calculation-form {
    margin:20px;
}
.new-calculation-form-container {
    margin-top: 25px;
}
.calculation-cards-container {
    background-color: $bg-color;
    padding-top: 2vh;
    .row {
        .calculation-card{
            margin: 1vh 0px 1vh 0px;
            border-color: $secondary-app-color;
            .calculation-card-button-group{
                .calculation-card-button{
                    color: $bg-color;
                }
            }
            .card-header {
                background-color: $main-app-color;
                font-size: 5vh;
                color: $secondary-app-color;
            }
            .card-text {
                color: $secondary-app-color;
            }
        }
    }
}